section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-big);

  height: 100dvh;

  place-content: center;
  text-align: center;
}

section > * {
  display: flex;
  flex-direction: column;
  gap: var(--gap-normal);
}

#subtitle {
  font-size: var(--font-size-normal);
  user-select: none;
}

.text-input {
  all: unset;
  border: 1px solid var(--color-tertiary);
  text-align: left;
  padding: var(--gap-small);
  border-radius: var(--border-radius-0);
}

.text-input::placeholder {
  color: var(--color-tertiary);
}
