section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-big);

  height: 100dvh;

  place-content: center;
  text-align: center;
}

section > * {
  display: flex;
  flex-direction: column;
  gap: var(--gap-normal);
}

#subtitle {
  font-size: var(--font-size-normal);
  user-select: none;
}
